.App {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Scroll Snap */
html {
  scroll-snap-type: y mandatory;
}

.main-section {
  scroll-snap-align: start;
}

/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}
